body {
    font-family: 'Josefin Sans', Helvetica;
    color: #fff
}

.grid {
    overflow: auto;     /* Takes care of collapsing div */
    width: 100%;        /* Takes care of collapsing div */
            /* Another way to take care of collapsing div:
            .grid:after {
                content: "";
                display: table;
                clear: both;
            }*/
    background-color: #fff;
    background: linear-gradient(#c4c4c4, #fff)
    padding-left: 0; /* For Making the Outside Gutters */
}


/* Begin Making the Inside Gutters: */
    /* First, set width, regardless of borders or padding added later */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    /* Second, add right side padding for all columns that don't end at */
    /* the rightmost end of the grid layup (Add for all when also making*/ 
    /* Outside Gutters) */
[class*="col-"] {
    padding-right: 3px;
}
/* End Making the Inside Gutters */

[class*="col-"] {
    background-color: #fff;
    border: 1px solid #fff;
    float: left;
}

.col-100pct {
    width: 100%;
    height: 40px;
}

.col-70pct {
    width: 65.33%;
    height: 462px;
}

.col-60pct {
    width: 100%;
    height: 100px;
}

.col-30pct {
    width: 34.66%;
    height: 231px;
}

.col-10pct {
    display: none;
    width: 10%;
    height: 80px;
    background-color: #ff0000;
    background: linear-gradient(to right bottom, #ff0000, #d4c1d6);
}

.hdr {
    width: 98.9%;
    height: 18%;
    background-color: #000; /*#958888;*/
    margin: -9px auto 0 0.75%;
}

.hdr2 {
    width: 98.9%;
    height: 5%;
    background-color: #000; /*#958888;*/
    margin: -3px auto 0 0.75%;
}

.logo_text {
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.logo2_text {
    position: relative;
    font-family: 'Tangerine', cursive;
    font-size: 3.5em;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    top: 25px;
    left: 25px;
}

.art {
    width: 98%;
    height: 92%;
    background-color: #958888;
    margin: 3px auto 0 1.1%;
    background-image: url("file:///C:/Users/ncudd/OdinProjects/Git_Repos/NextWeb/IMAGES/Superstition3.jpeg");
    background-size: cover;
    background-position: center;
}

.asi {
    width: 98%;
    height: 84%;
    background-color: #958888;
    margin: 3px auto 0 auto;
    position: relative;
    top: -21px;
}

#ftr_box {
    width: 100%;
}

.ftr {
    width: 60%;
    height: 80%;
    background-image: url("file:///C:/Users/ncudd/OdinProjects/Git_Repos/NextWeb/IMAGES/wide3.jpeg");
    background-size: cover;
    background-position: center;
    margin: 3px auto 0 auto;
}

.my_text {
    text-align: center;
}

#nav_box {
    height: 32px;
    background-color: #000;
    border: 1px solid #000;
}

#search_box {
    height: 48px;
}

#footer_box {
    clear: left;
}

#asi1 {
    background-image: url("file:///C:/Users/ncudd/OdinProjects/Git_Repos/NextWeb/IMAGES/Superstition2.jpeg");
    background-size: cover;
    background-position: 50% 20%;
}

#asi2 {
    background-image: url("file:///C:/Users/ncudd/OdinProjects/Git_Repos/NextWeb/IMAGES/WindCave2.jpeg");
    background-size: cover;
    background-position: center;
}

.nav1 {
    position: relative;
    list-style-type: none;
    height: 32px;
    float: left;
}

.nav2 {
    position: relative;
    list-style-type: none;
    height: 32px;
    float: right;
}

.srch1 {
    position: relative;
    list-style-type: none;
    height: 48px;
    float: left;
}

.srch2 {
    position: relative;
    width: 400px;
    list-style-type: none;
    height: 48px;
    margin-right: -160px;
    float: right;
}

li {
    display: inline;
}

.clr1 {
    color: #fff;
    font-weight: 600;
    margin-left: -30px;
    margin-right: 10px;
}

.clr2 {
    color: #afa2a2;
    font-weight: 600;
    margin-right: 10px;
}

.clr3 {
    color: #a8a8a8;
    font-weight: 600;
    margin-right: 10px;
    margin-left: -30px;
}

.clr4, .clr5, .clr6 {
    margin-left: 10px;
}

.clr6 {
    display: none;
}

.scaled {
    width: 75%;
}

.scaled2 {
    width: 100%;
}

.icons {
    width: 22px;
    margin-top: 18px;
    margin-left: 10px;
    float: right;
}

.icons2 {
    width: 35px;
    margin-top: 18px;
    margin-left: 10px;
    float: right;
}

#bars_icon, #srch_icon {
    border-left: 1px solid #a8a8a8;
    padding-top: 12px;
    padding-left: 10px;
    height: 48px;
    margin-top: 3px;
}

#bars_icon {
    display: none;
}

.art_t {
    position: relative;
    width: 100%;
    top: 50%;
    left: 5%;
}

.article_text {
    font-family: 'Catamaran', sans-serif;
    width: 90%;
    font-size: 2em;
    line-height: 0.9;
}

.asi_t {
    position: relative;
    width: 100%;
    top: 50%;
    left: 5%;
}

.aside_text {
    font-family: 'Catamaran', sans-serif;
    width: 90%;
    font-size: 1.5em;
    line-height: 0.9;
}

#tail_end {
    position: relative;
    width: 30%;
    top: 20%;
    left: 5%;
    text-align: left;
}

.col-smain {
    width: 100%;
    background: linear-gradient(#c4c4c4, #fff) !important;
    padding: 2px;
}

/*
@media (max-width: 1024px) {
    .col-100pct {
        width: 80%;
    }
    .col-10pct {
        display: inline-block;
        width: 10%;
    }
    .col-70pct {
    height: 200px;
    }
    .col-30pct {
    height: 100px;
    }
}*/
