#nav_box{
    display: none;
}

.col-10pct {
     width: 20%;
    height: 50px;
}

.col-100pct {
    width: 70%;
}
.col-70pct {
    width: 100%;
    height: 100px;
    float: none;
    clear: left;
}

.col-30pct {
    width: 100%;
    height: 100px;
    float: none;
    clear: left;
}