#nav_box{
    display: none;
}

.col-10pct {
     width: 20%;
    height: 48px;
}

.col-100pct {
    width: 80%;
}
.col-70pct {
    width: 100%;
    height: 185px;
    float: none;
    clear: left;
}

.col-30pct {
    width: 100%;
    height: 185px;
    float: none;
    clear: left;
}

.art {
    height: 180px;
}

#asi1, #asi2 {
    height: 180px;
}